# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Specific files/dirs
src/content/blog
src/content/site/about.md
src/content/site/root.md
src/content/types.generated.d.ts
