---
import { formatDate } from "@utils"
import Backlinks from "@components/Backlinks.astro";
const {frontmatter, ...props} = Astro.props;
const { author = "", created = "", modified = "" } = frontmatter;
---
<style is:global>
article.main > p,
article.main > header,
article.main > footer,
article.main > table,
article.main > blockquote > p,
article.main > section > p,
article.main > section > header,
article.main > section > footer,
article.main > section > div.footnote-definition,
article.main > section > table {
    width: 55%;
}

article.main > dl,
article.main > ol,
article.main > ul,
article.main > section > dl,
article.main > section > ol,
article.main > section > ul {
    width: 50%;
    -webkit-padding-start: 5%;
}
</style>
<article class="main">
  {
    author || created || modified
    ? <header class="frontmatter">
      {
        author
          ? <p id="author">Written by {author}</p>
          : ""
      }
      {
        created
          ? <p id="created">Created on {formatDate(created)}</p>
          : ""
      }
      {
        modified
          ? <p id="updated">Last updated on {formatDate(modified)}</p>
          : ""
      }
      </header>
    : ""
  }
    <slot />
    <Backlinks url={frontmatter.slug} />
</article>
