$threshhold: 40em
$gap: 1rem
$svgWidth: 5em

header
  @include centered
  nav
    margin-top: 0
  .branding
    .title
      font-family: 'Amatic Regular'
      font-size: 5em
    svg
      width: $svgWidth
