@import _elastic

@import _body
@import _header
@import _nav
@import _main
@import _footer


html
  font-size: 10px
  // font-family: $font
  margin: 0
  padding: 0
  height: 100%
  text-rendering: geometricPrecision
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
