article {
  margin: 5rem 0;
}

article.main > header > p {
  margin: unset;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p,
dl,
ol,
ul {
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

blockquote {
  font-size: 1.4rem;
}

blockquote p {
  margin-right: 40px;
}

blockquote footer {
  font-size: 1.1rem;
  text-align: right;
}

article.main > blockquote > p,
article.main > blockquote > footer,
article.main > p,
article.main > header,
article.main > footer,
article.main > table,
section > blockquote > p,
section > blockquote > footer,
section > p,
section > header,
section > footer,
section > div.footnote-definition,
section > table {
  width: 55%;
}

article.main > dl,
article.main > ol,
article.main > ul,
section > dl,
section > ol,
section > ul {
  width: 50%;
  -webkit-padding-start: 5%;
}

h1 > a,
h2 > a,
h3 > a {
  color: var(--fg);
  text-decoration: unset;
}

h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}

h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

h1 > a:link,
h2 > a:link,
h3 > a:link {
  background: unset;
}

hr {
  display: block;
  height: 1px;
  width: 55%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

dt:not(:first-child),
li:not(:first-child) {
  margin-top: 0.25rem;
}

a:link,
a:visited {
  color: inherit;
}

a:link {
  text-decoration: none;
  background: -webkit-linear-gradient(var(--bg), var(--bg)),
    -webkit-linear-gradient(var(--bg), var(--bg)),
    -webkit-linear-gradient(currentColor, currentColor);
  background: linear-gradient(var(--bg), var(--bg)),
    linear-gradient(var(--bg), var(--bg)),
    linear-gradient(currentColor, currentColor);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 var(--bg), -0.03em 0 var(--bg), 0 0.03em var(--bg),
    0 -0.03em var(--bg), 0.06em 0 var(--bg), -0.06em 0 var(--bg),
    0.09em 0 var(--bg), -0.09em 0 var(--bg), 0.12em 0 var(--bg),
    -0.12em 0 var(--bg), 0.15em 0 var(--bg), -0.15em 0 var(--bg);
  background-position: 0% 93%, 100% 93%, 0% 93%;
}

img {
  max-width: 100%;
}

pre {
  background-color: unset !important;
}

code,
pre > code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1rem;
  line-height: 1.42;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.8em;
}

.marginnote > code,
.sidenote > code {
  font-size: 1rem;
}

pre > code {
  font-size: 0.9rem;
  /* I've commented this out for the time, pre/code can't have a note in the */
  /* margin, so why not let it take up the full space? */
  /* width: 52.5%; */
  margin-left: 2.5%;
  overflow-x: auto;
  display: block;
}

.sidenote > div {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
}

.sidenote > input {
  display: none;
}

.sidenote > div > p {
  margin: unset;
}

.sidenote > div > .fndef-number {
  width: fit-content;
  padding: 0 0.5rem;
  border: dotted var(--fg);
  border-width: 1px 1px 0;
}

.sidenote > div > p {
  border: dotted var(--fg);
  border-width: 1px 0;
}

.sidenote:hover > div > .fndef-number,
.sidenote:hover > div > p {
  border-color: red;
}
.sidenote:hover > label a:link {
  color: red;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a:link {
    background-position-y: 87%, 87%, 87%;
  }
}

@media (max-width: 760px) {
  article.main > blockquote > p,
  article.main > blockquote > footer,
  article.main > p,
  article.main > header,
  article.main > footer,
  article.main > table,
  hr,
  section > blockquote > p,
  section > blockquote > footer,
  section > p,
  section > header,
  section > footer,
  section > div.footnote-definition,
  section > table {
    width: 100%;
  }

  article.main > dl,
  article.main > ol,
  article.main > ul,
  section > dl,
  section > ol,
  section > ul {
    width: 90%;
    -webkit-padding-start: 5%;
  }

  blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
  }

  img {
    width: 100%;
  }

  pre > code {
    width: 97%;
  }

  .sidenote > div,
  .sidenote > div > .fndef-number {
    display: none;
  }

  .sidenote > label {
    cursor: pointer;
  }

  .sidenote > label a {
    pointer-events: none;
  }

  .sidenote > input:checked ~ div {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  }
  .sidenote:hover > div > .fndef-number,
  .sidenote:hover > div > p {
    border-color: inherit;
  }
  .sidenote:hover > div > p {
    margin: 0 -10rem;
    padding: 1rem 10rem;
  }
}
