@use "sass:math"

@use "effects"
article
  background-color: var(--bg)
  @include effects.shadowed
  &.main
    margin-bottom: 2rem
    padding: 5px 10px 50px
  &.card
    padding: 1rem
    width: fit-content
