@use "sass:math"

@use "effects"
article
  @include effects.shadowed
  background-color: var(--bg)
  font-size: 1.1rem
  &.main,
  &.cards
    margin: 2rem 0
    padding: 2rem 1.4rem 10rem
  &.index
    padding: 0 1.4rem
  &:not(.index):not(.card)::after
    content: ""
    content: url(/favicon.svg)
    position: absolute
    bottom: 0
    left: 50%
    margin: 1rem auto
    width: fit-content
