a
  text-decoration: none
  &:not(.nostyle)
    font-weight: bold
    color: var(--default-light-fuscia)
  &:visited:not(.nostyle)
    color: var(--default-dark-fuscia)
  &:hover:not(.nostyle)
    color: var(--default-light-purple)
  &:active:not(.nostyle)
    color: var(--default-dark-purple)
  &:not(.nobracket)::before
    color: var(--fg)
    content: "["
  &:not(.nobracket)::after
    color: var(--fg)
    content: "]"
  &.nostyle
    color: unset
