@font-face {
  font-family: drop-cap;
  src: url(/fonts/drop-caps/floral.ttf);
  font-display: swap;
}

* {
  cursor: url("/images/manicules/manicule-default-right.png") 113 46,
    url("/images/manicules/manicule-default-left.png") 0 46,
    url("/images/manicules/manicule-alt-left-up.png") 0 0,
    url("/images/manicules/manicule-alt-right-up.png") 81 0,
    url("/images/manicules/manicule-alt-left-down.png") 0 126,
    url("/images/manicules/manicule-alt-right-down.png") 81 126, auto;
}

:root {
  --default-white: #fffff8;
  --default-black: #111;
  --default-blue: #b4d5fe;
  --bg: var(--default-white);
  --fg: var(--default-black);
  --first-break: 760px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--default-black);
    --fg: var(--default-white);
  }
}

html {
  font-size: 15px;
}
