---
import Base from "@layouts/Base.astro";
import IndexCard from "@components/IndexCard.astro"

import { tags } from "@lib/pages";

export async function getStaticPaths() {
  const allTags = tags;
  return Object.keys(allTags).map(tag => {
    return {
        params: { tag },
        props: { tag, pages: allTags[tag] },
    }
  })
}

const { pages, tag } = Astro.props;
const ps = pages.map(page => JSON.parse(page))
---
<Base pageTitle={`'${tag}' Tags`}>
    <article class="cards">
        <h2>All pages tagged with "{tag}"</h2><br>
        {
            ps.map((p) => (
            <IndexCard card={{frontmatter: p}}> </IndexCard>
        ))
        }
    </article>
</Base>
