@use "@styles/globals"
@use "@styles/layouts"
@use "@styles/effects"

.monitor
    border: 2em ridge white
    background-color: darkgray

.bezel
  position: relative
  height: 20em
  border: 30px solid transparent
  border-image-source: url(/assets/bezel-gray.png)
  border-image-slice: 30 fill
  border-image-outset: 0
  overflow: hidden

.terminal
  font-family: globals.$accent-font
  color: white
  p
    margin: unset
    font-size: 1.2em
    &:last-child::after
      animation: cursor 2s infinite
      margin-left: 1px
      content: "_"
  #heading
    font-size: 2em
    background-color: white
    align-self: center
    color: black
    width: fit-content

.crt
  @include effects.crt

.overlay
  display: block
  position: aboslute
  top: 0
  left: 0
  z-index: 2
  width: 100%
  height: 100%

.e404
  @include layouts.centered
  font-size: 2em
  width: calc(min(80vw, 669px) + globals.$main-padding)
