@use "globals"
$font-size: 2rem
article
  font-size: $font-size
  &.blog, &.book
    .image
      margin: auto
      max-width: 80%
  &.index
    .image
      display: block
      margin: 0 auto
      max-width: 80%
  p
    line-height: calc($font-size * globals.$font-line-height-ratio)
