$padding: 2em

body
  height: calc(100% - 2em * 2)
  cursor: crosshair
  color: var(--default-color-fg)
  background-color: var(--default-color-bg)
  background-image: url('/api/patterns/fetch')

#__next
  @media screen and (min-width: 900px)
    @include stacked
