@use 'theme'
#color-toggle
  position: absolute
  top: 1em
  right: 1em
  filter: var(--default-inversion-filter)

.toggle
  input[type=checkbox]
    height: 0
    width: 0
    position: absolute
    visibility: hidden
  label
    cursor: pointer
    width: 41px
    height: 47px
    background-image: url(/assets/toggle-off.png)
    display: block
    border-radius: 5px
  input:checked + label
    background-image: url(/assets/toggle-on.png)
