footer
  font-size: 1.5em
  display: flex
  margin-top: 3em

  #postamble
    font-size: 90%
    p
      margin: unset
  .license
    font-size: 0.7em
    p
      margin: 0

  .footerSection
    flex: 1
    display: flex

  #footerLeft
    justify-content: left
    margin-right: auto

  #footerMid
    justify-content: center
    max-width: min(80vw, 669px)
    min-width: min(80vw, 669px)
    padding: 0 1em
    @media screen and (max-width: 1200px)
      max-width: unset
      min-width: unset
    img
      font-size: calc(16px + 6 * ((100vw - 320px) / 680))
      height: 1em
      width: 1em


  #footerRight
    align-items: flex-end
    justify-content: right
    margin-left:auto

  .flueron
    transition: transform .7s ease-in-out

  .flueron:hover
    transform: rotate(360deg)
