@use "globals"
@use "sass:string"
@use "sass:map"

$heading-char: "*"

@for $i from 1 through 6
  $heading-before: " "
  @for $n from 1 through $i
    $heading-before: string.insert($heading-before, $heading-char, 0)
  h#{$i}
    $key: 1100 - $i * 100
    font-family: globals.$accent-font
    font-size: map.get(globals.$font-sizes, $key)
    margin-top: 0.3rem
    margin-bottom: 0.2rem
    &::before
      content: $heading-before
    &:hover > a > .icon-link::before
      content: "🔗"
      font-size: 0.5em
      padding-left: 0.5em
      text-align: center
      filter: var(--default-inversion-filter)
    a::before
      content: unset !important
    a::after
      content: unset !important
