$padding: 1em

main
  @include centered
  @include framed
  position: relative
  background-color: var(--default-color-bg)
  font-size: 2em
  padding: $padding
  width: calc(min(80vw, 669px) + $padding)
  @media screen and (max-width: 900px)
    border: unset
    box-shadow: unset
    padding: unset
    position: unset

main aside
  --wdth: calc(((100vw - 8px - 2em - min(80vw, 669px)) / 2) - 1em)
  justify-content: right
  position: fixed
  right: calc(4px + (2em + 8px) / 2)
  max-width: var(--wdth)

  nav
    font-size: 1em
