// Reset
@use '../../node_modules/normalize.css/normalize'

@use "globals"

// Standard Styling
@use "about"
@use "article"
@use "background"
@use "body"
@use "code"
@use "color-toggle"
@use "fleuron"
@use "font"
@use "footer"
@use "headings"
@use "howdy"
@use "img"
@use "links"
@use "main"
@use "org"

:root
  font-size: globals.$font-size-initial
  font-family: globals.$primary-font
  margin: 0
  padding: 0
  height: 100%
  text-rendering: geometricPrecision
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
