// Mixins
@import _centered
@import _elastic
@import _stacked

// Standard Styling
@import _404
@import _about
@import _article
@import _blockquote
@import _body
@import _code
@import _font
@import _footer
@import _header
@import _headings
@import _logo
@import _links
@import _main
@import _nav
@import _org

html
  font-size: 10px
  font-family: $primary-font
  margin: 0
  padding: 0
  height: 100%
  text-rendering: geometricPrecision
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
