---
import { formatDate } from "@utils"
const { author, created, updated, ...props } = Astro.props;
---
<style lang="sass" is:global>
article
  position: relative
aside:not(.sidenote)
  background-color: var(--bg)
  /* display: inline */
  display: none
  position: relative
  float: right
  clear: right
  width: 50%
  margin-right: -60%
  & p
    margin: unset
    padding: unset
</style>
<article class="main">
  {
    author || created || updated
    ? <aside class="frontmatter">
      {
        author
          ? <p id="author">Written by {author}</p>
          : ""
      }
      {
        created
          ? <p id="created">Created on {formatDate(created)}</p>
          : ""
      }
      {
        updated
          ? <p id="updated">Last updated on {formatDate(updated)}</p>
          : ""
      }
      </aside>
    : ""
  }
    <slot />
</article>
