---
import { formatDate } from "@utils"
import Backlinks from "@components/Backlinks.astro";
const {frontmatter, ...props} = Astro.props;
const { author = "", created = "", modified = "" } = frontmatter;
---
<style lang="sass" is:global>
article
  position: relative
.frontmatter
  align-self: flex-end
  & p
    margin: unset
    padding: unset
</style>
  {
    author || created || modified
    ? <article class="frontmatter">
      {
        author
          ? <p id="author">Written by {author}</p>
          : ""
      }
      {
        created
          ? <p id="created">Created on {formatDate(created)}</p>
          : ""
      }
      {
        modified
          ? <p id="updated">Last updated on {formatDate(modified)}</p>
          : ""
      }
      </aside>
    : ""
  }
<article class="main">
    <slot />
    <Backlinks url={frontmatter.slug} />
</article>
