---
import { backlinks, getBacklinks } from '@lib/pages';
import Link from '@components/Link.astro';
const { url } = Astro.props
const xref = [...(await getBacklinks(url))];
---
{ !!xref.length
    ? (
    <section class="xref">
        <h2>Xrefs</h2>
        <ul>
        {xref.map(x => (
            <li>
            <Link href={x.frontmatter.link}>{x.frontmatter.title}</Link>
            </li>
        ))}
        </ul>
    </section>)
    : ''
}
