---
import { Icon } from "astro-icon/components";
import Music from '@components/Music.astro'
---
<style>
footer {
  display: flex;
  flex-direction: column;
   position: relative;
}
.topline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }
hr,
.salutation {
  max-width: 66.9rem;
  width: 100%;
  margin: auto;
 }
.flower2 {
  font-family: 'flower2' !important;
  font-variant: unset !important;
  vertical-align: middle;
  font-size: 2rem;
 }
.smallcap {
  font-family: 'IM Fell English SC';
  font-variant: small-caps;
 }
.salutation {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}
[astro-icon] {
  display: inline;
  line-height: 1;
  height: 1.5em;
  width: 1.5em;
  fill: var(--fg)
}
a {
  text-decoration: none;
 }
</style>
<footer>
  <Music />
  <hr>
  <div class="salutation">
    <p>
      <span class='flower2'>A</span>
      <span class="smallcap">pax vobiscum</span>
      <span class='flower2'>a</span>
    </p>
  </div>
  <div class="list">
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="license">
        <Icon name="fa6-brands:creative-commons" title="Creative Commons" />
        <Icon name="fa6-brands:creative-commons-by" title="Attribute" />
        <Icon name="fa6-brands:creative-commons-nc" title="Noncommercial" />
        <Icon name="fa6-brands:creative-commons-sa" title="Share Alike"/>
    </a>
    <div>
        <Icon name="simple-icons:gnuemacs" class="emacs" title="emacs" />
        <Icon name="simple-icons:org" class="org" title="org-mode" />
        <Icon name="simple-icons:astro" class="astro" title="Astro.build"/>
    </div>
  </div>
</footer>
