---
import { Icon } from "astro-icon";
---
<style>
footer {
  bottom: 0;
  left: 0;
  width: 100%;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 1rem;
}
[astro-icon] {
  display: inline;
  line-height: 1;
  height: 1.5em;
  width: 1.5em;
  fill: var(--fg)
}
</style>
<footer>
  <div class="list">
    <div>
        <Icon name="mdi:cards-heart" class="heart" title="love" />
        <Icon name="simple-icons:gnuemacs" class="emacs" title="emacs" />
        <Icon name="simple-icons:org" class="org" title="org-mode" />
        <Icon name="astro" class="astro" title="Astro.build"/>
    </div>
  </div>
</footer>
