---
---
<style lang="sass">
  footer
    bottom: 0
    left: 0
    position: fixed
    height: var(--footer-height)
    background: linear-gradient(0deg, var(--default-dark-green) 0%, var(--default-light-green) 25%, var(--default-light-blue-alt) 25%, var(--default-dark-blue) 50%, rgba(0,0,0,0) 100%)
    width: 100%
  #beau
    background: url(/beau-v1.png) no-repeat
    position: absolute
    bottom: 0px
    height: 115px
    width: 198px
  #background
    position: absolute
    background-color: var(--default-dark-green)
    bottom: 0
    left: 0
    height: 128px
    width: 100%
  #grass
    position: absolute
    background-color: var(--default-dark-green)
    background: linear-gradient(0deg, var(--default-dark-green) 0%, var(--default-light-green) 100%)
    bottom: 0
    left: 0
    height: 128px
    width: 100%
  #sky
    position: absolute
    background-color: var(--default-dark-blue)
    background: linear-gradient(0deg, var(--default-light-blue-alt) 0%, var(--default-dark-blue) 100%)
    background: linear-gradient(0deg, var(--default-light-blue-alt) 0%, var(--default-dark-blue) 20%, rgba(0,0,0,0) 100%)
    bottom: 128px
    left: 0
    height: 384px
    width: 100%
  #footer-tag
    position: absolute
    bottom: 5px
    right: 5px
</style>
<footer>
  <div id="beau"></div>
  <div id="footer-tag">Made with love.</div>
</footer>
