---
---
<style lang="sass">
  footer
    bottom: 0
    left: 0
    width: 100%
  #footer-tag
    position: fixed
    bottom: 5px
    right: 5px
</style>
<footer>
  <div id="beau"></div>
  <div id="footer-tag">Made with love.</div>
</footer>
