---
import knight from '../assets/knight-horse.png';
import {Image} from "astro:assets";
---
<style>
.header-branding {
    pointer-events: none;
    position: relative;
    margin-top: 4rem;
}
.dropcap .actual,
.dropcap .period {
  font-size: 25.5rem;
}

.dropcap .actual {
  color: var(--accent);
  font-family: dc-floral;
  vertical-align: sub;
}

.dropcap .period {
  font-size: 25.5rem;
}

.dropcap .rest {
  font-size: 15rem;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img {
    position: absolute;
    top: -4rem;
    left: 59rem;
    width: unset;
}

@media (max-width: 760px) {
    .dropcap .actual,
    .dropcap .period {
        font-size: 13.5rem;
    }

    .dropcap .rest {
        font-size: 9rem;
    }

    img {
        left: 34rem;
        height: 15rem !important;
        width: unset !important;
    }
}
@media (max-width: 450px) {
    .dropcap .actual,
    .dropcap .period {
        font-size: 9rem;
        vertical-align: unset;
    }

    .dropcap .rest {
        font-size: 6rem;
    }

    img {
        top: -1.5rem;
        left: 23rem;
        height: 9rem !important;
        width: unset !important;
    }
}
</style>
<div class="header-branding">
    <span class="header-text">
    <span class="dropcap" aria-hidden="true">
        <span class="actual">D</span><span class="rest">rollery</span>
        <span class="period">.</span>
    </span>
        <span class="sr-only">Drollery</span>
    </span>
    <Image alt="Medieval drollery of a knight on a horse" src={knight}/>
</div>
