---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
const { title } = Astro.props
---
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <script async type="module" src="https://cdn.skypack.dev/pin/@hotwired/turbo@v7.2.4-ZifPufG8LWXS2LFpHP7B/mode=imports,min/optimized/@hotwired/turbo.js"></script>
  <title>{title}</title>

  <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=EB+Garamond&family=VT323&display=swap"  />
</head>
