---
import { getURL } from "@utils"
import Date from "./Date.astro"
import Tag from "./Tag.astro"
const { card: {frontmatter} } = Astro.props
const href = frontmatter.link
---
<style>
h4 { margin: unset; }
.card {
    break-inside: avoid;
    margin: 1rem;
}
a {
    color: unset;
    text-decoration: unset;
}
.tags {
font-size: 1rem;
}
</style>
<div class="card">
    <a
        class="nobracket nostyle"
        href={href}
    >
        <h4 class="card-title-heading">{frontmatter.title || frontmatter.slug}</h4>
    </a>
    <div>{
        frontmatter?.created
        ? <Date date={frontmatter.created} />
        : ""
    }
    { frontmatter.tags
        ? <div class="tags">{
            frontmatter.tags.map(tag => <Tag tag={tag} />)
          }</div>
        : ""
    }</div>
</div>
