---
import { getURL, slugify } from "@utils";
import Excerpt from './Excerpt.astro'
import Date from "./Date.astro"
const { card } = Astro.props
const match = card.file.match(/.*\/sylvan\/content\/(?<path>.*)\.md[x]?/);
console.log(match)
const { path } = match.groups
---
<style lang="sass">
div.card
  display: flex
  flex-direction: column
  margin: 1rem
  & :last-child
    align-self: flex-end
    margin-top: 0.5rem
</style>
<div class="card">
    <a
      class="nobracket nostyle"
      href={getURL(
        Astro.url.origin,
        slugify(path)
      )}
    >
  <article class="card">
    <h3 class="card-title-heading">{card.frontmatter.title}</h3>
    <Excerpt post={card}/>
  </article>
    </a>{" "}
  <span>
    {
      card.frontmatter?.created
        ? <Date date={card.frontmatter.created} />
        : ""
    }
  </span>
</div>
