---
import { getURL } from "@utils"
import Date from "./Date.astro"
import Tag from "./Tag.astro"
const { card: {frontmatter} } = Astro.props
const href = frontmatter.link
---
<style>
.card {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
span {
    flex: 1;
}
.tags {
font-size: 1rem;
}
</style>
<div class="card">
    <Date date={frontmatter.created} />
    <span>

    <a href={href} >
        {frontmatter.title || frontmatter.slug}
    </a>
    <div>
    { frontmatter.tags
        ? <div class="tags">{
            frontmatter.tags.map(tag => <Tag tag={tag} />)
          }</div>
        : ""
    }</div>
    </span>
</div>
