---
import { getURL, slugify } from "@utils"
import Date from "./Date.astro"
import Tag from "./Tag.astro"
const { card: {frontmatter} } = Astro.props
console.log(frontmatter)
---
<style lang="sass">
div.card
  margin: 1rem
</style>
<div class="card">
    <a
        class="nobracket nostyle"
        href={getURL(
        Astro.url.origin,
        slugify(frontmatter.slug)
        )}
    >
        <h4 class="card-title-heading">{frontmatter.title}</h4>
    </a>
    <span>{
        frontmatter?.created
        ? <Date date={frontmatter.created} />
        : ""
    }</span>
    { frontmatter.tags
        ? <div class="tags">{
            frontmatter.tags.map(tag => <Tag tag={tag} />)
          }</div>
        : ""
    }
</div>
