---
import { getURL} from "@utils";

const href = Astro.url.origin;
---
<style>
nav {
  font-size: 2rem;
  margin-top: -4rem;
  font-size: 2rem;
}
a {
    height: min-content;
    padding: 0 1rem;
}
@media (max-width: 760px) {
nav {
    margin-top: -2rem;
    font-size: 2rem;
}
a {
    padding: 0 0.3rem;
}
}
@media (max-width: 450px) {
nav {
    margin-top: -1rem;
    font-size: 1.5rem;
}
}
</style>
<nav>
    |<a class="nobracket" href={href}>Home</a>
    |<a class="nobracket" href={getURL(href, "about")}>About</a>
    |<a class="nobracket" href={getURL(href, "blog")}>Blog</a>
    |<a class="nobracket" href={getURL(href, "grok")}>Grok</a>|
</nav>
