---
import { getURL} from "@utils";

const href = Astro.url.origin;
---
<style>
nav {
  font-size: 3rem;
  margin-top: -6rem;
  font-size: 2rem;
}
a {
  font-size: 3rem;
  height: min-content;
  padding: 0 2rem;
}
@media (max-width: 760px) {
  nav {
    margin-top: -1rem;
    font-size: 2rem;
  }
  a {
    padding: 0 0.5rem;
  }
}
@media (max-width: 450px) {
  nav {
    margin-top: -1rem;
    font-size: 2.25rem;
  }
  a {
    font-size: 2.25rem;
    padding: 0 0.4rem;
  }
}
</style>
<nav>
    |<a class="nobracket" href={href}>Home</a>
    |<a class="nobracket" href={getURL(href, "about")}>About</a>
    |<a class="nobracket" href={getURL(href, "blog")}>Blog</a>
    |<a class="nobracket" href={getURL(href, "grok")}>Grok</a>|
</nav>
