---
import { getURL} from "@utils";
const href = Astro.url.origin;
---
<nav>
    <a href={href}>Home</a>
    <a href={getURL(href, "about")}>About</a>
    <a href={getURL(href, "blog")}>Blog</a>
</nav>