---
import IndexCard from "@components/IndexCard.astro"
const {heading, roll} = Astro.props;
---
<style>
 ul {
   padding-inline: unset;
   display: flex;
   flex-direction: column;
   gap: 1rem;
 }
 li {
   list-style: none;
   display: block;
 }
 li:hover::before {
   aspect-ratio: 1/1;
   content: url(/images/point-right-sm.png);
   position: absolute;
   margin-left: -100px;
 }
</style>
<section>
    <h2>{heading}</h2>
    <ul class="cards">{
        roll.map((card) => (
      <li><IndexCard card={card}/></li>
        ))
    }</ul>
    <slot/>
</section>
