---
import {slugify} from "@utils";
const {tag} = Astro.props
---
<style lang="sass">
.tag
    border-radius: 0.2em
    background-color: var(--default-light-blue)
    margin: 0.2em
    padding: 0em 0.3em
</style>
<a href={slugify("tags/"+tag, true)}>
    <span class="tag">
        {tag}
    </span>
</a>
