@use "@styles/layouts"
@use "@styles/globals"
@use "sass:map"

.blockquote
  @include layouts.framed
  background: var(--default-color-bg)
  padding: 1rem
  position: relative

  &::before
    content: open-quote close-quote
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%, -100%)
    background: var(--default-color-bg)
    height: 2rem
    width: 6rem
    font-size: map.get(globals.$font-sizes, 1100)
    font-family: globals.$accent-font
    color: var(--default-color-fg)
    text-align: center
