---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import '../styles/style.sass';

const { pageTitle, siteTitle, ...props } = Astro.props;
const title = siteTitle ? siteTitle : pageTitle + " - " + "ian.ist"
---

<style lang="sass" is:global>
  @use  "../styles/effects"
  body
    background-color: var(--body-bg)
    color: var(--fg)
  main
    @include effects.framed
    background-color: var(--bg)
    height: fit-content
    display: flex
    flex-direction: column
    max-width: var(--main-width)
    padding-bottom: 50px
  img
    /* @include effects.framed */
    background-color: var(--bg)
    max-width: 100%
    /* margin-left: 50px */
    padding: 5px
  p
    margin: 5px
  .bordered
    border: var(--default-black) 5px double
    box-shadow: 5px 5px var(--fg)
    padding: 5px
  .content-stack
    display: flex
    flex-wrap: wrap
    gap: 1rem
  .content-stack > :first-child
    flex-grow: 1
  .content-stack > :last-child
    flex-basis: 0
    flex-grow: 999
    min-inline-size: 91.5%
  /* section */
  /*   max-width: var(--main-width) */
  /*   margin: 2rem 0 */
  /*   & section, &.footnotes */
  /*     background-color: var(--bg) */
  /*     border: var(--default-black) 5px double */
  /*     box-shadow: 5px 5px var(--fg) */
  /*     padding: 2rem */
</style>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script async type="module" src="https://cdn.skypack.dev/pin/@hotwired/turbo@v7.2.4-ZifPufG8LWXS2LFpHP7B/mode=imports,min/optimized/@hotwired/turbo.js"></script>
    <title>{title}</title>
  </head>
  <body>
    <div class="content-stack">
      <div class="sidebar">
        <Header />
      </div>
      <div class="content">
        <main>
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
