---
import Background from "../components/Background.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import '../styles/style.sass';

const { pageTitle, siteTitle = "ian.ist", ...props } = Astro.props;
const title = pageTitle ? pageTitle + " - " + siteTitle : siteTitle
---

<style lang="sass" is:global>
  html
    height: 100%
  body
    background-color: var(--default-light-green)
    color: var(--fg)
    margin: unset
    padding: unset
  img
    background-color: var(--bg)
    max-width: 100%
    /* margin-left: 50px */
    padding: 5px
  .content-stack
    display: flex
    flex-wrap: wrap
    gap: 1rem
  .content-stack > :first-child
    flex-grow: 1
    width: 80px
    min-height: 1px
  .content-stack > :last-child
    flex-basis: 0
    flex-grow: 999
    min-inline-size: 88%
</style
<html lang="en">
  <Head title={title}/>
  <body>
    <Header />
    <div class="content-stack">
      <div class="sidebar">
      </div>
      <div class="content">
        <main>
          <slot />
        </main>
      </div>
    </div>
    <Footer />
  </body>
</html>
