---
import 'normalize.css';
import '@style/base.css';

import Background from "../components/Background.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import {SITE_TITLE} from '../consts';

const { pageTitle = "", ...props } = Astro.props;
const title = pageTitle ? `${pageTitle} - ${SITE_TITLE}` : SITE_TITLE
---
<style is:global>
</style>
<style>
body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--fg);
  background-image : url(/images/background.png);
  background-repeat: repeat;
  font-size: 2rem;
  font-weight: 400;
  min-height: 100vh;
  margin: unset
}

main, .main-header {
  margin: auto;
}

main {
  max-width: 66.9rem;
  padding: 0 1rem;
  width: 100%;
  flex: 1 0 auto;
  line-height: 2.5rem;
}
</style>

<!DOCTYPE html>
<html lang="en">
  <Head title={title}/>
  <body>
    <Header class="main-header" />
        <main>
          <slot/>
        </main>
    <Footer class="main-footer"/>
    <script type="module">
      import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
    </script>
  </body>
</html>
