---
import Background from "../components/Background.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import '../styles/style.css';

const { pageTitle, siteTitle = "Drollery", ...props } = Astro.props;
const title = pageTitle ? pageTitle + " - " + siteTitle : siteTitle
---
<!DOCTYPE html>
<html lang="en">
  <Head title={title}/>
  <body>
    <Header class="main-header" />
        <main>
          <slot />
        </main>
    <Footer />
    <script type="module">
      import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
    </script>
  </body>
</html>
<style>
:root, html {
  font-family: 'IM Fell English';
  margin: 0;
  padding: 0;
  min-height: 100%;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 1.5rem;
  background-color: var(--bg);
  color: var(--fg);
  background-image : url(/images/background.png);
}
main, .main-header {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  max-width: 1400px;
}
@media (max-width: 760px) {
  main, .main-header {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: auto;
  }
  .main-header {
    width: 100%;
  }
}
</style
