---
import Background from "../components/Background.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import '../styles/style.sass';

const { pageTitle, siteTitle = "ian.ist", ...props } = Astro.props;
const title = pageTitle ? pageTitle + " - " + siteTitle : siteTitle
---

<style lang="sass" is:global>
  @use  "../styles/effects"
  @use  "../styles/background"

  html
    height: 100%
  body
    background-color: var(--default-light-blue)
    color: var(--fg)
    margin: unset
    padding: unset
  main
    @include effects.framed
    background-color: var(--bg)
    height: fit-content
    display: flex
    flex-direction: column
    max-width: var(--main-width)
    margin-bottom: 50px
    padding: 5px 5px 50px
  img
    /* @include effects.framed */
    background-color: var(--bg)
    max-width: 100%
    /* margin-left: 50px */
    padding: 5px
  p
    margin: 5px
  #background
    @include background.desert
    position: fixed
    top: 0
    height: 100%
    width: 100%
    z-index: -9999
  .content-stack
    display: flex
    flex-wrap: wrap
    gap: 1rem
  .content-stack > :first-child
    flex-grow: 1
    width: 80px
    min-height: 1px
  .content-stack > :last-child
    flex-basis: 0
    flex-grow: 999
    min-inline-size: 88%
  /* section */
  /*   max-width: var(--main-width) */
  /*   margin: 2rem 0 */
  /*   & section, &.footnotes */
  /*     background-color: var(--bg) */
  /*     border: var(--default-black) 5px double */
  /*     box-shadow: 5px 5px var(--fg) */
  /*     padding: 2rem */
</style
<html lang="en">
  <Head title={title}/>
  <body>
    <Header />
    <div class="content-stack">
      <div class="sidebar">
      </div>
      <div class="content">
        <main>
          <slot />
        </main>
      </turbo-frame>
      </div>
    </div>
    <Footer />
  </body>
</html>
