---
import Background from "../components/Background.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import {SITE_TITLE} from '../consts';

const { pageTitle = "", ...props } = Astro.props;
const title = pageTitle ? `${pageTitle} - ${SITE_TITLE}` : SITE_TITLE
---
<style is:global>
@font-face {
  font-family: drop-cap;
  src: url(/fonts/drop-caps/floral.ttf);
  font-display: swap;
}

*, *:hover {
  cursor: var(--cursor-default-right),
  var(--cursor-default-left),
  var(--cursor-alt-left-up),
  var(--cursor-alt-right-up),
  var(--cursor-alt-left-down),
  var(--cursor-alt-right-down),
  auto;
}
</style>
<style>
:root {
  font-family: 'IM Fell English';
  margin: 0;
  padding: 0;
  min-height: 100%;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --default-white: #fffff8;
  --default-black: #111;
  --default-blue: #b4d5fe;
  --accent: #903;
  --bg: var(--default-white);
  --fg: var(--default-black);
  --cursor-default-right: url("/images/manicules/manicule-default-right.png") 113 46;
  --cursor-default-left: url("/images/manicules/manicule-default-left.png") 0 46;
  --cursor-alt-left-up: url("/images/manicules/manicule-alt-left-up.png") 0 0;
  --cursor-alt-right-up: url("/images/manicules/manicule-alt-right-up.png") 81 0;
  --cursor-alt-left-down: url("/images/manicules/manicule-alt-left-down.png") 0 126;
  --cursor-alt-right-down: url("/images/manicules/manicule-alt-right-down.png") 81 126;
}

html {
  font-size: 15px;
}

html, body {
  height: 100vh;
  width: 100vw;
  padding: unset;
  margin: unset;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  background-color: var(--bg);
  color: var(--fg);
  background-image : url(/images/background.png);
}

main, .main-header {
  margin: auto;
}

main {
  width: min(669px, 60vw);
}

main {
  flex: 1 0 auto;
}
</style>

<!DOCTYPE html>
<html lang="en">
  <Head title={title}/>
  <body>
    <Header class="main-header" />
        <main>
          <slot/>
        </main>
    <Footer class="main-footer"/>
    <script type="module">
      import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
    </script>
  </body>
</html>
