---
import IndexCard from "../components/IndexCard.astro"
import { filterContent, sortNewestToOldest } from "@utils";
import { allPages } from "@lib/pages";

const { page, ...props } = Astro.props;
const { frontmatter, file } = page;

const includeRoll = frontmatter?.include_roll || typeof frontmatter?.include_roll === "undefined"
const ROLL_DIR_REGEX = new RegExp(`${frontmatter.roll_dir}\/.*\.org`);
const pages = filterContent(await allPages, false);
const roll = pages.filter(card => card.file.split("/content/")[1].match(ROLL_DIR_REGEX))
---
<style lang="sass">
@use "../styles/effects"
h2
  @include effects.shadowed
  background-color: var(--bg)
  padding: 1rem
  width: fit-content
.cards
  display: flex
  flex-direction: column
</style>
<article class="main index">
  <slot />
</article>
{ includeRoll
  ? <section>
        <h2>{frontmatter?.roll_heading ? frontmatter.roll_heading : "Pages"}</h2>
        <article class="cards">{
            roll.map((card) => (
            <IndexCard card={card}> </IndexCard>
            ))
        }</article>
    </section>
  : ""
}
