---
import IndexCard from "../components/IndexCard.astro"
import { filterContent, slugify } from "@utils";

const { page, ...props } = Astro.props;
const { frontmatter, file } = page;

const ROLL_DIR_REGEX = new RegExp(`${frontmatter.rollDir}\/.*\.mdx`);
const allPages = await Astro.glob("/content/**/*.mdx")
const neededPages = allPages.filter(card => card.file.split("/content/")[1].match(ROLL_DIR_REGEX))
const roll = filterContent(neededPages).slice(0, frontmatter?.cardCap);
---
<style lang="sass">
@use "../styles/effects"
h2
  @include effects.shadowed
  background-color: var(--bg)
  padding: 1rem
  width: fit-content
.cards
  display: flex
  flex-direction: column
  align-items: flex-end
</style>
<article class="main index">
  <slot />
</article>
  <section>
    <h2>{frontmatter?.rollHeading ? frontmatter.rollHeading : "Pages"}</h2>
    <div class="cards">{
      roll.map((card) => (
        <IndexCard card={card}> </IndexCard>
      ))
    }</div>
  </section>
