---
import IndexCard from "@components/IndexCard.astro"
import Rolladex from "@components/Rolladex.astro"
import { allPages } from "@lib/pages";

import {filterIndices, sortNewestToOldest } from "@utils/filterContent";

const { page, ...props } = Astro.props;
const { frontmatter, file } = page;

const rollLen = 10
const roll = (await allPages).filter(filterIndices);
const recent = roll.filter(filterIndices).sort(sortNewestToOldest).splice(0,rollLen);
function shuffle(array) {
    for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
    }
  return array
}

const random = shuffle(roll).splice(0,rollLen)


---
<style>
section.indices {
  padding-right: 12.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section.cards {
  display: flex;
  flex-direction: column;
}
</style>
<article class="main index">
  <slot />
<section class="indices">
  <Rolladex heading="Recent Updates" roll={recent}>
    <div><a href="/news">See all updates...</a></div>
  </Rolladex>
  <Rolladex heading="Random Pages" roll={random}>
    <div><a href="/all">See all pages...</a></div>
  </Rolladex>
</section>
</article>
