name: Trigger rebuild of parent repo
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  notify:
    runs-on: ubuntu-20.04
    container: alpine/httpie
    steps:
      - name: Notify parent repo
        run: http post https://api.github.com/repos/ispringle/grok/dispatches "Authorization:token ${{ secrets.NOTIFY_TOKEN }}" event_type=sylvan-update --ignore-stdin
